body {
	font-family: 'AvenirNext-Regular', Helvetica, sans-serif;
}

header {
	font-size: 1.6rem;
}

	.top {
		height: 30px;
	}
		.top ul {
			float:right;
		}
		.top ul li {
			display:inline-block;
			width:25px;
			height:25px;
			line-height: 30px;
			text-transform: uppercase;
			font-size: 62.5%;
			text-align:center;
		}
		.top ul li a {
			text-decoration: none;
			color:#444;
		}
		.top ul li a i {
			font-size:1.2em;
			opacity: 0.3;
		}
		.top ul li a i:hover {
			font-size:1.4em;
			opacity: 1;
			color:#41b7d8;
		}

		.top ul li.mailButton {
			margin-right:30px;
		}


	.container {
		min-width:430px;
		height:100%;
	}
	@media screen and (min-width: 0px) {
		.container {
			margin:0 auto;
			max-width:600px;
		}
	}
	@media screen and (min-width: 600px) {
		.container {
			margin:0 5%;
			max-width:100%;
		}
	}

		.navigator {
			margin: 45px 0 25px 0;
			color:#444;
			line-height:35px;
		}
			.name {
				bottom:0;
				font-family: 'AvenirNext-UltraLight', Helvetica, sans-serif;
				font-size: 1.2em;
				text-transform: uppercase;
				text-decoration: none;
				color:inherit;
				vertical-align:middle;
			}
			.name:hover {
				color:#41b7d8;
			}
				.name span {
					font-family: 'AvenirNext-DemiBold', Helvetica, sans-serif;
				}

			ul.menu {
				float:right;
				font-size:0.55em;
				font-weight:700;
				text-transform: uppercase;
			}
				ul.menu li {
					display:inline-block;
					margin-left:12px;
					line-height:35px;
					vertical-align:middle;
				}
					ul.menu li a {
						color:inherit;
						text-decoration: none;
					}
					ul.menu li a:hover {
						color:#41b7d8;
					}

	#work.content {
	}

		#work.content .title {
			padding: 10px 15px 10px 23px;
			border-left: 7px solid #eee;
			margin: 40px -30px 30px -30px;
			font-size:1.1em;
		}

		#grid {
			overflow:hidden;
		}

		#grid .proj {
			position:relative;
			float:left;
			overflow:hidden;
		}
		#grid .proj:hover {
			/*transition: height .3 ease in;*/
		}
		@media screen and (min-width: 0px) {
			.proj {
				width:100%;
			}
		}
		@media screen and (min-width: 600px) {
			.proj {
				width:50%;
			}
		}
		@media screen and (min-width: 900px) {
			.proj {
				width:33.33332%;
			}
		}
		@media screen and (min-width: 1200px) {
			.proj {
				width:25%;
			}
		}

		#grid .proj .imgContainer {
			position:relative;
			z-index:3;
			/*Man, I struggled with this. Adding the padding makes it all work!*/
			padding-bottom: 100%;
		}
			#grid #stockportfolio .imgContainer .image {
				/*background-image: url('images/beach.jpg');*/
				background-image: url('images/stockportfolio.png');
			}
			#grid #quizalator .imgContainer .image {
				/*background-image: url('images/redwoods.jpg');*/
				background-image: url('images/quizalator4.png');
			}
			#grid #shoppinglist .imgContainer .image {
				/*background-image: url('images/dog.jpg');*/
				background-image: url('images/shopping.png');
			}
			#grid #hotorcold .imgContainer .image {
				/*background-image: url('images/surfing.jpg');*/
				background-image: url('images/hotorcold.png');
			}
			#grid #tssignals .imgContainer .image {
				/*background-image: url('images/cat.jpg');*/
				background-image: url('images/37signalsclone.png');
			}
			#grid #googleclone .imgContainer .image {
				/*background-image: url('images/mountains.jpg');*/
				background-image: url('images/googleclone.png');
			}
			#grid .proj .image {
				position:absolute;
				/* Man, discovering how to remove the border around the background
				 * images was tough. The following two lines did the trick */
				top:-1%;
				left:-1%;
				background-repeat: no-repeat;
				background-size: cover;
				width:102%;
				height:102%;
				-webkit-transition-property: -webkit-transform background-position;
				-webkit-transition-duration: 0.4s;
				-webkit-transition-timing-function: ease-out;
			}

		/* This is the overlay that lies on top of the image. By default it is shown as 
		 * hidden, and becomes visible when hovered over.*/
		#grid .proj a.overlay {
			position:absolute;
			z-index:5;
			text-decoration: none;
			visibility:hidden;
			background-color: rgba(0,0,0, 0);
			-webkit-transition: background-color 0.4s ease-out;
		}

			#grid .proj a.overlay .description {
				vertical-align:middle;
				text-align:center;
			}
			
				#grid .proj a.overlay .description h2 {
					font-size:0.9em;
					line-height:30px;
					color:#fff;
					-webkit-transition: font-size 0.2s ease-out;
				}
				#grid .proj a.overlay .description h4 {
					font-size:0,9em;
					font-weight:300;
					line-height:24px;
					color:#ccc;
					-webkit-transition: font-size 0.2s ease-out;
				}

/* Used to style the jQuery tooptip */
.ui-tooltip {
	font-size: 9px;
}

