body {
	font-family: HPSimplified,Arial;
}

.content {
	margin:30px;
	bottom-padding:100%;
}

.content h2 {
	font-size:1.9em;
	color:#000;
	text-align:center;
}

.content #features {
	/*position:relative;*/
	margin-top:20px ;
}

.content .feature {
	display:inline-block;
	position:relative;
	margin-bottom:20px;
	text-align:center;
	/*border:1px solid red;*/
	width:150px;
	min-height:105px;
}

.content .feature figure {
	position:absolute;
	bottom:0;
}

.content .feature figure img {
	width:60px;
	height:auto;
}

.content figcaption {
	font-size:0.9em;
	font-weight:bold;
}
